@import "./../../scss/variables.scss";
@import "./../../scss/mixin.scss";

.dashboard {
  height: 100%;

  display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;           /* TWEENER - IE 10 */
  display: -webkit-flex;          /* NEW - Chrome */
  display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-direction: row;    /* Safari 6.1+ */
          flex-direction: row;    /* NEW, Spec - Opera 12.1, Firefox 20+ */

  @include respond-to(portrait) {
    display: block;
  }

  > .left {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    width: $left-menu-width;
    @include respond-to(portrait) {
      width: 100%;
      height: calc(100% - #{$header-height});
      position: absolute;
      top: $header-height;
      left: calc(-100% + #{$left-menu-button-width});
    }

    > .content {
      width: $left-menu-width;
      @include respond-to(portrait) {
        width: calc(100% - #{$left-menu-button-width});
      }
      background-color: $white;
      overflow-y: auto;
    }

    > .toggle {
      display: none;
      @include respond-to(portrait) {
        width: $left-menu-button-width / 2;
        display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;           /* TWEENER - IE 10 */
        display: -webkit-flex;          /* NEW - Chrome */
        display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
      }

      @include respond-to(portrait) {
        > .button {
          position: relative;
          margin: auto;
          min-width: $left-menu-button-width ;
          height: $left-menu-button-width * 2;
          left: -1/2 * $left-menu-button-width;
          font-size: $font-large;
          background-color: $white;
          color: $grey;

          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;

          display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;           /* TWEENER - IE 10 */
          display: -webkit-flex;          /* NEW - Chrome */
          display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

          > .fa {
            margin: auto;
          }
        }
      }
    }
  }

  > .right {
    padding-left: $left-menu-button-width / 2;
    padding-right: 8px;

    -webkit-flex-grow: 1;           /* NEW - Chrome */
            flex-grow: 1;           /* NEW, Spec - Opera 12.1, Firefox 20+ */
    @include respond-to(portrait) {
      width: 100%;
      height: 100%;
      overflow-y: auto;

    }
  }
}
