@import "./../scss/fonts.scss";

$white: rgba(255, 255, 255, 1);
$grey: rgba(125, 125, 125, 1);
$darkgrey: rgba(35, 31, 32, 1);
$black: rgba(0, 0, 0, 1);


$font-normal: 'Open Sans', sans-serif;
$font-narrow: 'Open Sans Condensed', sans-serif;

$font-x-large: 2em;
$font-large: 1.5em;
$font-medium: 1em;
$font-small: 0.75em;
$font-x-small: 0.5em;

$header-height: 60px;
$left-menu-width: 300px;
$left-menu-button-width: 32px;
