@import "./../scss/fonts.scss";

$white-255: rgba(255, 255, 255, 1);
$white-245: rgba(245, 245, 245, 1);
$white-235: rgba(235, 235, 235, 1);
$white-215: rgba(215, 215, 215, 1);
$grey-175: rgba(175, 175, 175, 1);
$grey-125: rgba(125, 125, 125, 1);
$grey-100: rgba(100, 100, 100, 1);
$grey-50: rgba(50, 50, 50, 1);
$grey-35: rgba(35, 31, 32, 1);

$blue-light: rgba(212, 224, 224, 1);
$blue-dark: rgba(147, 185, 185, 1);


$font-normal: 'Open Sans', sans-serif;
$font-narrow: 'Open Sans Condensed', sans-serif;

$font-x-large: 2em;
$font-large: 1.5em;
$font-medium: 1em;
$font-small: 0.75em;
$font-x-small: 0.5em;

$header-height: 60px;
