@import "./../../scss/variables.scss";
@import "./../../scss/mixin.scss";

.sensor-info {
  margin: 16px 0;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  > .title {
    padding: 4px;
  }
}
