@import "./../../scss/variables.scss";
@import "./../../scss/mixin.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $grey-35;

  display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;           /* TWEENER - IE 10 */
  display: -webkit-flex;          /* NEW - Chrome */
  display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-direction: row;    /* Safari 6.1+ */
          flex-direction: row;    /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-align-content: space-between;
          align-content: space-between;

  > .left {
    cursor: pointer;
    padding-right: 16px;

    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    > .logo {
      width: 58px;
      padding: 6px;
      &:after {
        content: url(~images/pdw_thumbnail_48x48.png);
      }
    }

    > .title {
      font-size: $font-medium;
      font-family: $font-normal;
      margin: auto;
      color: $white-215;
    }
  }
}
